@use "../../../styles/variables" as *;

.shell {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  display: flex;
  flex: 1;
  min-height: 0;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column-reverse;
  }
}

.content {
  flex: 1;
  min-width: 0;
  overflow: auto;
}
